In [1]:
# !pip install pandas

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/kaggle/input/lab-exp/titanic_train.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.tail()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [6]:
df['Age'].isnull().sum()

177

In [7]:
len(df.columns)

12

In [8]:
df['Age']=df['Age'].fillna(int(df['Age'].mean()))

In [9]:
df['Age'].isnull().sum()

0

In [10]:
len(df.columns)

12

In [11]:
df.drop('Name', axis=1, inplace=True)  #axis= 1 column and axis=0 row

In [12]:
len(df.columns)

11

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [14]:
df.drop(['Pclass','Ticket'], axis=1, inplace=True)

In [15]:
len(df.columns)

9

In [16]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [17]:
df.iloc[0]  #for access data index wise

PassengerId       1
Survived          0
Sex            male
Age            22.0
SibSp             1
Parch             0
Fare           7.25
Cabin           NaN
Embarked          S
Name: 0, dtype: object

In [18]:
# replace value after search 
def fun(value):
    # value=row['sex']
    if value=='male':
        return -1
    return 0

df['Sex']=df['Sex'].apply(fun)
df

     PassengerId  Survived  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0              1         0   -1  22.0      1      0   7.2500   NaN        S
1              2         1    0  38.0      1      0  71.2833   C85        C
2              3         1    0  26.0      0      0   7.9250   NaN        S
3              4         1    0  35.0      1      0  53.1000  C123        S
4              5         0   -1  35.0      0      0   8.0500   NaN        S
..           ...       ...  ...   ...    ...    ...      ...   ...      ...
886          887         0   -1  27.0      0      0  13.0000   NaN        S
887          888         1    0  19.0      0      0  30.0000   B42        S
888          889         0    0  29.0      1      2  23.4500   NaN        S
889          890         1   -1  26.0      0      0  30.0000  C148        C
890          891         0   -1  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [19]:
# replace value after search 
def fun(value):
    if value< 18:
        return 'child'
    else:
        return 'adult'

df['age_description']=df['Age'].apply(fun)
df

,PassengerId,Survived,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,age_description
0,1,0,-1,22.0,1,0,7.2500,NaN,S,adult
1,2,1,0,38.0,1,0,71.2833,C85,C,adult
2,3,1,0,26.0,0,0,7.9250,NaN,S,adult
3,4,1,0,35.0,1,0,53.1000,C123,S,adult
4,5,0,-1,35.0,0,0,8.0500,NaN,S,adult
...,...,...,...,...,...,...,...,...,...,...
886,887,0,-1,27.0,0,0,13.0000,NaN,S,adult
887,888,1,0,19.0,0,0,30.0000,B42,S,adult
888,889,0,0,29.0,1,2,23.4500,NaN,S,adult
889,890,1,-1,26.0,0,0,30.0000,C148,C,adult
890,891,0,-1,32.0,0,0,7.7500,NaN,Q,adult

In [20]:
# !pip install scikit-learn

In [21]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder

In [22]:
le=LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])

In [23]:
df

,PassengerId,Survived,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,age_description
0,1,0,0,22.0,1,0,7.2500,NaN,S,adult
1,2,1,1,38.0,1,0,71.2833,C85,C,adult
2,3,1,1,26.0,0,0,7.9250,NaN,S,adult
3,4,1,1,35.0,1,0,53.1000,C123,S,adult
4,5,0,0,35.0,0,0,8.0500,NaN,S,adult
...,...,...,...,...,...,...,...,...,...,...
886,887,0,0,27.0,0,0,13.0000,NaN,S,adult
887,888,1,1,19.0,0,0,30.0000,B42,S,adult
888,889,0,1,29.0,1,2,23.4500,NaN,S,adult
889,890,1,0,26.0,0,0,30.0000,C148,C,adult
890,891,0,0,32.0,0,0,7.7500,NaN,Q,adult

In [24]:
oe = OrdinalEncoder()
df['Age'] = oe.fit_transform(df[['Age']])

In [25]:
df

,PassengerId,Survived,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,age_description
0,1,0,0,28.0,1,0,7.2500,NaN,S,adult
1,2,1,1,51.0,1,0,71.2833,C85,C,adult
2,3,1,1,34.0,0,0,7.9250,NaN,S,adult
3,4,1,1,47.0,1,0,53.1000,C123,S,adult
4,5,0,0,47.0,0,0,8.0500,NaN,S,adult
...,...,...,...,...,...,...,...,...,...,...
886,887,0,0,35.0,0,0,13.0000,NaN,S,adult
887,888,1,1,24.0,0,0,30.0000,B42,S,adult
888,889,0,1,38.0,1,2,23.4500,NaN,S,adult
889,890,1,0,34.0,0,0,30.0000,C148,C,adult
890,891,0,0,42.0,0,0,7.7500,NaN,Q,adult

In [26]:
df.age_description.unique()

array(['adult', 'child'], dtype=object)

In [27]:
ohe= OneHotEncoder()
encodeed=ohe.fit_transform(df[['age_description']])

In [28]:
ohe.get_feature_names_out()

array(['age_description_adult', 'age_description_child'], dtype=object)

In [29]:
df_new = pd.DataFrame(
    encodeed.toarray(), columns = ohe.get_feature_names_out()
)

In [30]:
df_new

     age_description_adult  age_description_child
0                      1.0                    0.0
1                      1.0                    0.0
2                      1.0                    0.0
3                      1.0                    0.0
4                      1.0                    0.0
..                     ...                    ...
886                    1.0                    0.0
887                    1.0                    0.0
888                    1.0                    0.0
889                    1.0                    0.0
890                    1.0                    0.0

[891 rows x 2 columns]